@media all and (min-width:1200px) {


  #wrap {
    width: 100%;
    overflow: hidden;
  }


  header {
    width: 100%;
    height: 100px;
    float: left;
    background-color: rgba(2, 88, 56, 1);
  }


  #logo_wrap {
    width: 150px;
    height: 70px;
    /*background-color: white;*/
    margin: 25px 50px;
    float: left;
  }

  #logo {
    width: 150px;
    height: 35px;
    background-image: url(../img/main/logo.png);
    background-size: 100% 100%;
    margin-bottom: 8px;
    cursor: pointer;
  }



  #bottom_logo {
    width: 150px;
    height: 35px;
    font-size: 15px;
    color: rgba(239, 78, 56, 1);
    font-weight: 900;
  }

  /*logo_wrap end*/


  #side_menu_1 {
    width: 650px;
    height: 50px;
    /* background-color: lightpink; */
    float: right;
    margin: 25px 50px;
  }

  #side_menu_1>li {
    width: 110px;
    height: 100%;
    float: left;
    line-height: 50px;
    text-align: center;
    color: rgba(239, 78, 56, 1);
    font-weight: 900;
    font-size: 20px;
    margin-right: 25px;
  }

  #side_menu_1>li:last-child {
    margin-right: 0;
  }

  #side_menu_1>li a {
    color: rgba(239, 78, 56, 1);
  }

  /*side_menu end*/


  #mo_side_wrap {
    display: none;
  }


  /*header end*/


  #section_1 {
    width: 100%;
    height: auto;
    float: left;
  }



  #container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* background-color: aquamarine;*/
  }


  #program3_main_title {
    width: 1200px;
    height: 50px;
    /*background-color: lightblue;*/
    font-size: 20px;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: orangered;
    border-bottom: 1px solid lightgray;
  }




  .program3_sub_title {
    width: 450px;
    height: 50px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
  }



  .live_picture_wrap {
    width: 1200px;
    height: 600px;
    /* background-color: pink; */
    margin-bottom: 40px;
  }


  #live1_picture {
    background-image: url(../img/pro3/live1_picture.png);
  }


  .program3_detail_title {
    font-size: 14px;
    margin-bottom: 12px;
  }


  .date {
    font-size: 14px;
  }


  .detail1 {
    font-size: 14px;
    margin-bottom: 30px;
  }


  .detail2 {
    font-size: 14px;
    margin-bottom: 145px;
  }

  .detail2 li:first-child {
    margin-top: 12px;
  }



  .youtube {
    width: 1200px;
    height: 600px;
    /* background-color: coral; */
    margin-bottom: 200px;
  }


  .youtube_box1 {
    width: 478px;
    border-bottom: 1px solid #AAA6A6;
    float: left;
  }

  .youtube_title {
    width: 217px;
    text-align: center;
    /* background-color: blue; */
    font-size: 25px;
    color: #EF4E38;
    float: left;
    position: relative;
    bottom: 15px;
    margin-right: 13px;
    margin-left: 13px;
    margin-bottom: 50px;
  }

  .youtube_box2 {
    width: 478px;
    border-bottom: 1px solid #AAA6A6;
    float: left;
  }




  #live2_picture {
    background-image: url(../img/pro3/live2_picture.png);
  }


  #live3_picture {
    background-image: url(../img/pro3/live3_picture.png);
  }



  .back {
    width: 300px;
    height: 50px;
    background-color: orangered;
    margin: 0 auto 100px auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #ffffff;
    display: block;
  }

  .back:hover {
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
  }









  /*section_1 end*/

  footer {
    width: 100%;
    height: 150px;
    background-color: darkgreen;
    float: left;
  }


  #footer_logo_wrap {
    width: 150px;
    height: 70px;
    /* background-color: #DB9A96; */
    float: left;
    margin: 40px 50px;
  }

  #footer_logo_img {
    width: 150px;
    height: 35px;
    background-image: url(../img/footer/footer_logo_img.png);
    background-size: 100% 100%;
    margin-bottom: 8px;
    cursor: pointer;
  }


  #in_footer {
    width: 1200px;
    height: 50px;
    margin: 50px auto 0 auto;
    /*background-color: antiquewhite;*/
    color: white;
    font-size: 15px;

    /*    line-height: 150px;*/

  }


  #footer_logo {
    width: 70px;
    height: 50px;
    float: right;
    /*background-color: beige;*/
    position: relative;
    bottom: 30px;
  }


  #logo1 {
    width: 30px;
    height: 30px;
    float: left;
  }

  #logo2 {
    width: 30px;
    height: 30px;
    background-image: url(../img/footer/2.png);
    float: right;
  }


  #top_btn:hover {
    background-color: darkred;

  }



  #top_btn {
    width: 50px;
    height: 50px;
    background-image: url(../img/footer/top_btn.png);
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
  }



  #top_btn a {
    color: white;
    font-weight: 900;
    font-size: 15px;
  }




  #top_btn:hover {
    background-color: darkred;

  }



}

/*end*/